doctype html
html
    head
        title Vlaamse Overheid  Infrastructure
    body
    block content
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    hr
    footer
        p Copyright &copy; OKS 2020